.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    width: 100%;
    box-shadow: 10px 5px 20px 5px var(--primary-color);
    border: 0px transparent;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #fff;
    opacity: 0.9;
  }
  
  .nav-brand {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    width: 50px;
    margin-right: 0.5rem;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar a {
    color: var(--dark-color);
    padding: 0.75rem 1.5rem;
    margin: 0 0.25rem;
    border-radius: 10px;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
  }
  
  .navbar a:hover {
    background-color: var(--primary-color);
    color: #fff;
  }