@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #e59500;
  --secondary-color: #61dfc3;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50px;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary,
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light {
  background: var(--light-color);
  color: var(--primary-color);
  border: 1px var(--primary-color) solid;
}

.btn-dark,
.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success {
  background: var(--success-color);
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 3px;
  background: var(--secondary-color);
  opacity: 0.7;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  width: 100%;
  box-shadow: 10px 5px 20px 5px var(--primary-color);
  border: 0px transparent;
}

.nav-brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  margin-right: 0.5rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--dark-color);
  padding: 0.75rem 1.5rem;
  margin: 0 0.25rem;
  border-radius: 10px;
  transition: background-color 0.4s ease-in, color 0.4s ease-in;
}

.navbar a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* Landing */
.showcase-content {
  text-align: center;
}

.showcase-content p {
  font-weight: bold;
}

.showcase-buttons {
  margin: auto;
  width: 300px;
}

#landing .btn {
  margin: 0 0.5rem;
}

#landing span {
  text-decoration: underline var(--secondary-color) 5px;
}

/* Stats */
#stats {
  position: relative;
  background-color: var(--light-color);
  padding: 2rem 0;
}

.stats-bg {
  position: absolute;
  width: 170px;
  height: 200px;
  background: radial-gradient(#61dfc3 20%, transparent 20%);
  background-size: 20px 20px;
  left: 100px;
  top: 30px;
}

.stats-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.stats-card {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 10px 5px 20px 0 rgba(229, 149, 0, 0.7);
  z-index: 10;
}

.stats-card i {
  color: var(--primary-color);
}

/* Services */
.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.service-text {
  width: 60%;
}

.service-text h2 {
  font-size: 2.25rem;
}

.service-text p {
  color: var(--dark-color);
}

.service-img {
  height: 280px;
  width: 35%;
  border-radius: 20px;
}

.service-1 {
  background: url('./img/service-1.PNG') no-repeat center center/cover;
}

.service-2 {
  background: url('./img/service-2.PNG') no-repeat center center/cover;
}

.service-3 {
  background: url('./img/service-3.PNG') no-repeat center center/cover;
}

.service-4 {
  background: url('./img/service-4.PNG') no-repeat center center/cover;
}

/* Register */
#register {
  height: 6rem;
}

#register h2 {
  display: inline-block;
  font-size: 3rem;
  margin-top: 1rem;
}

#register button {
  float: right;
  margin-top: 2rem;
}

/* Footer */
#footer {
  text-align: center;
}

.social {
  margin: 1rem 0.5rem 0 0.5rem;
  display: inline-block;
}
